<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
	<extension id="CoreseView" point="org.protege.editor.core.application.ViewComponent">
		<label value="Corese SPARQL Request" />
		<class value="fr.inria.corese.protege.view.CoreseView" />
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.ontologycategory" />
	</extension>
</plugin>
